<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adam.nfcalarm" >

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_nfc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        android:taskAffinity="@string/task_affinity">
        
        <activity
            android:name=".MainActivity"
            android:taskAffinity="@string/task_affinity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AlarmsActivity"
            android:taskAffinity="@string/task_affinity" />

        <activity android:name=".RingingActivity"
            android:taskAffinity="@string/task_affinity"
            android:noHistory="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>


        <receiver android:name=".scheduler.WakefulAlarmReceiver"/>

        <receiver android:name=".scheduler.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".scheduler.NfcStateReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.nfc.action.ADAPTER_STATE_CHANGED"/>
            </intent-filter>
        </receiver>


        <service android:name=".scheduler.SchedulingService"/>

        <service android:name=".scheduler.AlarmService"/>

    </application>

</manifest>