<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adam.nfcalarm" >

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ApplicationActivity"
            android:label="@string/title_activity_application" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlarmActivity"
            android:label="AlarmActivity"
            android:parentActivityName=".ApplicationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ApplicationActivity" />
        </activity>

        <receiver android:name=".scheduler.WakefulAlarmReceiver"/>

        <receiver android:name=".scheduler.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".scheduler.AlarmSchedulingService"/>

    </application>

</manifest>